@{
	ViewData["Title"] = "Index";
}

<section class="corps">
	<div class="index-search">
		<form class="search-bar" method="get" action="search">
			<p class="index-text">Trouvez les liens de propriétés entre vos marques préférées !</p>
			<input type="search" name="s" placeholder="Entrez un nom de produit, de marque ou d'entreprise" value="@ViewData["search"]">
			<input type="submit" value="Rechercher">
			@if (ViewData["error"] != null) {
				<p class="index-error">@ViewData["error"]</p>
			}
		</form>
	</div>
</section>